@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#root *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#root *::-webkit-scrollbar-track {
  background: transparent;
}
#root *::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 8px;
}
#root *::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
#root *::-webkit-scrollbar-corner {
  background: transparent;
}

#root .alt-scrollbar::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
#root .alt-scrollbar::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid #2d3748;
  border-bottom: 1px solid #2d3748;
}
#root .alt-scrollbar::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #2d3748;
  border-right: 1px solid #2d3748;
}
#root .alt-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0;
}
#root .alt-scrollbar::-webkit-scrollbar-corner {
  border: 1px solid #2d3748;
}
